.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  color: white;
  padding: 10px 10px;
  height: 45px;
  border-radius: 6px;
  background-color: #323232;
  border: 2px solid #4d4d4d;
  outline: none;
}

input::placeholder {
  color: #979494;
  padding: 10px 0px;
}

table {
  margin-top: 2em;
  color: white;
  width: 100%;
}

td {
  padding: 10px 10px;
  background-color: #323232;
  border: 2px solid #4d4d4d;
  border-collapse: collapse;
  text-align: center;
}
